* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header portion */

.background {
    background-image: url('../images/banner/banner3.png');
    width: 1600px;
    height: 808px;
}

/* Element position */

.position {
    text-align: right;
    padding: 216px 230px 200px 876px;
}

/* this portion for h1 and p */
.title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 24px;
}

/* button customization */

.customization {
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-top: 32px;
}

/* main body part 1*/

.main-body {
    display: flex;
    align-items: center;
    width: 1072px;
    height: 723.3px;
    padding: 140px 264px 120px;
}

.img {
    width: 569px;
    height: 723.3px;
}

.content {
    width: 416px;
    height: 400px;
    margin-left: 85px;
}

.content-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 25px 0 18px;
}

.content-list {
    width: 349px;
    height: 162px;
}

.style {
    list-style-type: circle;
}

.list-content {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 8px;
}

/* My plan section */

.text-header {
    padding: 0 650px 50px 750px;
    font-weight: 600;
    font-size: 40px;
    color: #151414;
    margin-top: 120px;
}

.plan-container {
    display: flex;
    padding: 50px 300px 130px;
    justify-items: center;
    gap: 60px;
}

.plan-title {
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    color: #151414;
}

.plan-sub-title {
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    color: #737272;
}

/*Add  Gradient */
.gradient {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    width: 1000px;
    height: 300px;
    background-size: cover;
    margin: 100px 230px;
}

.granient-item {
    width: 459px;
    height: 181.96px;
    padding: 50px 620px 61px 64px;
}

.gradient-title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.call-button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: #005FAC;
    margin-top: 25px;
}

/* footer */

.footer-background {
    background-color: #151414;
    width: 1600px;
    height: 577px;
}

.footer-contener {
    display: flex;
    justify-content: space-between;
}

.footer-section-1 {
    width: 485px;
    height: 317px;
    padding: 130px 0 128px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
}

.email {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact-no {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.icon {
    width: 175px;
    height: 46px;
}

.subscribe-part {
    width: 325px;
    height: 204px;
    padding: 130px 230px 245px 0;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 32px;
}